
<div class="container">
  <mat-progress-bar *ngIf="loadSpinner || !articleService.articles" class="m-2 m-md-2" mode="indeterminate"></mat-progress-bar>
  <div class="row">
    <div class="col-md-3">
      <div class="custom-position">
        <app-blog-categories></app-blog-categories>
      </div>
    </div>


    <div class="col-md-6">
      <div class="mb-3 mt-2">
        <div class="row">
          <mat-form-field class="search-form-field col-md-11" appearance="fill">
            <mat-label>Makale ara</mat-label>
            <input matInput (keyup.enter)="search(filterText)" type="text" [(ngModel)]="filterText">
            <button *ngIf="filterText" matSuffix mat-icon-button aria-label="Clear" (click)="search(filterText='')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div class="col-md-1 d-flex justify-content-center mt-2">
            <button (click)="search(filterText)" mat-mini-fab style="background-color:#384D78;" aria-label="Example icon button with a menu icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <article class="row article">
        <div  class="col-md-6" *ngFor="let article of articleService.filteredArticles | paginate : {
    itemsPerPage: tableSize,
    currentPage: page,
    totalItems: count
  };">
          <div class="">
            <a routerLink="/{{article.nameUrl}}">
              <img class="article-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a article">
            </a>
            <div>
              <div class="mt-1 mb-2">
                <a routerLink="" class="text-decoration-none" style="color:#384D78;"><strong>.Net Core</strong></a> /
                <a routerLink="" class="text-decoration-none" style="color:#384D78;"><strong>.Net Core</strong></a> /
                <a routerLink="" class="text-decoration-none" style="color:#384D78;"><strong>.Net Core</strong></a> /
                <a routerLink="" class="text-decoration-none" style="color:#384D78;"><strong>.Net Core</strong></a> /
              </div>

                <div class="blockquote-footer">
                  <p class=""><strong>{{article.uploadDate | date : 'dd MMMM yyyy'}}</strong></p>
                </div>

                <blockquote  class="blockquote">
                  <a routerLink="/{{article.nameUrl}}" class="text-decoration-none" style="opacity:85%; color:#2D3A4A"><strong class="article-name">{{article.name}}</strong></a>
                </blockquote>

            </div>
            <div class="mt-1">
              <small >
                <em>{{article.summary}}</em>
              </small>
            </div>
          </div>
          <hr>
          <br>
        </div>
      </article>
    </div>


    <div class="col-md-3">
      <div class="custom-position">
        <app-blog-info></app-blog-info>
      </div>
    </div>

    <div *ngIf="articleService.articles" class="d-flex justify-content-center">
      <div class="d-flex justify-content-center">
        <strong>
          <pagination-controls previousLabel="" nextLabel="" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </strong>

      </div>
    </div>
  </div>
</div>


<app-blog-footer></app-blog-footer>


