


.example-card {
  max-width: 400px;
}
.card-header{
  height:50px;
}
.article-image{
  height:180px;
  width: 100%;
}
.copyright{
  color:black;
}
.article :hover{
  opacity:92%
}
.article :hover .article-name{
  color:#384D78;
}
