<div class="mb-3">
  <app-blog-navbar></app-blog-navbar>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-blog-categories></app-blog-categories>
    </div>
    <div class="col-md-6">
      <div class="overlay" *ngIf="dataLoaded == false">
        <div class="d-flex justify-content-center">
          <div class="spinner-border spinner-border-lg" role="status" style="width: 3rem; height: 3rem; z-index: 20">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div class="input-group input-group-sm mb-3 mt-2">
        <span class="input-group-text" id="inputGroup-sizing-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></span>
        <input [(ngModel)]="filterText" type="text" class="form-control" placeholder="Makale ara..."
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>

      <hr>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>URL</th>
            <th>SUMMARY</th>
            <th>AUTHOR</th>
            <th>UPLOADDATE</th>
            <th>UPDATEDATE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articles | filter:filterText">
            <td>{{ article.articleId }}</td>
            <td>{{ article.name }}</td>
            <td>{{ article.nameUrl }}</td>
            <td>{{ article.summary }}</td>
            <td>{{ article.author }}</td>
            <td>{{ article.uploadDate }}</td>
            <td>{{ article.updateDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur,
      corrupti! Nesciunt corrupti eveniet totam delectus suscipit labore.
      Facilis atque error, ab, architecto nesciunt saepe, sequi sapiente nihil
      suscipit rerum laboriosam? Id temporibus culpa aliquam suscipit
      perferendis. Doloribus exercitationem praesentium impedit cum perferendis
      quos nostrum, perspiciatis itaque nesciunt veritatis unde sapiente
      consequatur accusantium culpa rem odit. Et itaque odit eos accusantium!
      Mollitia ullam, nemo possimus iure non expedita eius, ipsum, molestias
      exercitationem nulla natus? Id, similique. Totam, facere quae repellat
      sequi corrupti, unde excepturi non odio aliquam dolorum tempore! Repellat,
      nam! Delectus quo expedita ducimus
    </div>


  </div>
</div>
