
<footer class="bg-light mt-4 text-center sticky-bottom">
  <button mat-icon-button class="scrool-top" (click)="onScrollToTop()">
    <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
    </svg>
  </button>

  <section class="mb-3 px-3 d-flex justify-content-between">
    <div>
      "Şimdi herşeyi görmek istiyorum- ve onların hiçbiri, içime aldığımda benimle ilgili olmasalar da
      <br>
      bir süre sonra içimde birleşerek ben olacaklar." R. Bradbury
    </div>

    <div>
      <!--ADDTHİS FOLLOW-->
      <div class="addthis_inline_follow_toolbox"></div>
      <!--ADDTHİS FOLLOW-->

    </div>
  </section>
  <!-- Section: Social media -->


  <div class="text-center p-3" style="background-color: #212529; color:white;">
    Bu sitedeki yazıların tüm hakkı ®Sercan Sever'e aittir
  </div>

</footer>
