<div class="mb-5">
  <app-admin-navbar></app-admin-navbar>
</div>
<br>
<div class="container mt-5 mt-md-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
      </p>
    </div>
  </div>
  <hr>
  <div class="row mt-5 mt-md-5">
    <app-admin-article-list></app-admin-article-list>
  </div>
</div>
