<div class="d-flex justify-content-center">
  <button (click)="openAddCategoryModal()" mat-fab style="background-color: #479F76;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
      viewBox="0 0 16 16">
      <path
        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
    </svg>
  </button>
</div>

<div *ngIf="categoryService.categories" class="d-flex justify-content-evenly m-4 m-md-4">
  <div class="p-2">
    <app-admin-category-search></app-admin-category-search>
  </div>
  <div class="p-2">
    <app-admin-category-select-options></app-admin-category-select-options>
  </div>
</div>


<div class="row d-flex justify-content-center">
  <div *ngIf="!categoryService.categories">
    <mat-progress-bar mode="indeterminate" class="p-1"></mat-progress-bar>
    <br>
    <h2 class="d-flex justify-content-center">Loading Categories</h2>
  </div>
  <div *ngIf="categoryService.categories.length === 0">
    <mat-progress-bar mode="indeterminate" class="p-1"></mat-progress-bar>
    <br>
    <h2 class="d-flex justify-content-center">You don't have any categories yet.</h2>
  </div>

  <mat-card class="example-card col-2 col-md-2 m-2 m-md-2" *ngFor="let category of categoryService.filteredCategories | paginate : {
    itemsPerPage: tableSize,
    currentPage: page,
    totalItems: count
  };">
    <mat-card-title *ngIf="category.name.length > 12">{{category.name.substring(0,12)}}...</mat-card-title>
    <mat-card-title *ngIf="!(category.name.length > 12)">{{category.name}}</mat-card-title>
    <mat-card-subtitle>Upload date: {{category.uploadDate | date : 'dd/MM/yyyy'}}</mat-card-subtitle>
    <hr>
    <mat-card-content>
      <mat-card-subtitle *ngIf="category.updateDate">Update date: {{category.updateDate | date : 'dd/MM/yyyy'}}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="!category.updateDate">Update date: <strong>Never updated</strong>
      </mat-card-subtitle>
      <mat-card-subtitle>Article count: <strong>21</strong>
      </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
      <button mat-mini-fab style="background-color: #FD7E14;" class="m-1 m-md-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed"
          viewBox="0 0 16 16">
          <path
            d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z" />
          <path
            d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z" />
        </svg>
      </button>

      <button (click)="openUpdateCategoryModal(category)" mat-mini-fab style="background-color: #FFCD39;"
        class="m-1 m-md-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
        </svg>
      </button>

      <button (click)="softDeleteCategory(category)" *ngIf="category.isDeleted" mat-mini-fab
        style="background-color: #479F76;" class="m-1 m-md-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all"
          viewBox="0 0 16 16">
          <path
            d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z" />
          <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
        </svg>
      </button>

      <button (click)="softDeleteCategory(category)" *ngIf="!category.isDeleted" mat-mini-fab
        style="background-color: #DC3545;" class="m-1 m-md-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
          <path fill-rule="evenodd"
            d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
        </svg>
      </button>

      <button (click)="openHardDeleteCategoryModal(category)" mat-mini-fab style="background-color: red;"
        class="m-1 m-md-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
          viewBox="0 0 16 16">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
          <path fill-rule="evenodd"
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
        </svg>
      </button>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="categoryService.categories" class="d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>
