<div class="card text-center mt-2 custom-position">
  <div class="card-header" style="background-color:#F8791F; opacity: 85%">
    <div class="d-flex justify-content-sm-start mt-2">
      <strong>KATEGORİLER </strong>
    </div>
  </div>
  <div class="card-body">
    <div class="row d-flex justify-content-center">

      <button mat-button routerLink="/ana-sayfa"  class="all-categories mb-3 mb-md-3"><strong>- Tüm Kategoriler</strong></button>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Kategoriye göre filtrele</mat-label>
        <mat-select>
          <mat-option routerLink="/category/{{category.name}}" *ngFor="let category of categoryService.categories "
                      [value]="category.categoryId">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
