<h2 mat-dialog-title>Are You Sure ?</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="showSpinner">
    <mat-progress-bar mode="indeterminate" class="p-1"></mat-progress-bar>
    <br>
  </div>
  <h3>You are about to delete the article named <strong>{{data.name}}</strong></h3>
  <h3>"This action will completely delete the data"</h3>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="showSpinner" (click)="deleteArticle()">Delete</button>
</mat-dialog-actions>
